---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <h6><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h6>
<!--     <article class="post">

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
		
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <h5><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">查看正文</a></h5>
    </article> -->

  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">当前: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>
<br />

<div style="color:#A52A2A">
<table border="2">
<tr>
  
	快捷通道 :
	<a href="http://www.baidu.com/" target="_blank">百度</a>,
	<a href="http://github.com/" target="_blank">GitHub</a>,
	<a href="http://www.csdn.net/" target="_blank">CSDN.NET</a>,
	<a href="http://www.codeceo.com/" target="_blank">码农网</a>,
	<a href="http://www.imooc.com/" target="_blank">慕课网</a>,
	<a href="http://study.163.com/" target="_blank">网易云课堂</a>,
	<a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a>
	<br />

</tr>

<tr>

	工具类网站:
	<a href="http://www.114la.com/other/rgb.htm" target="_blank">RGB颜色查询对照表</a>,
	<a href="http://md5jiami.51240.com/" target="_blank">MD5在线加密</a>,
	<a href="http://www.baidu.com/baidu?wd=%CD%F2%C4%EA%C0%FA&tn=monline_4_dg" target="_blank">万年历</a>
	<br />

</tr>
<tr>
	开发工具下载:
	<a href="http://www.eclipse.org/downloads/" target="_blank">Eclipse</a>,
	<a href="http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html" target="_blank">JDK下载</a>,
	<a href="http://tomcat.apache.org/" target="_blank">Tomcat下载</a>,
	<a href="http://tortoisegit.org/about/" target="_blank">Git下载</a>,
	<a href="http://www.sublimetext.com/3" target="_blank">sublime 3</a>
	<br />
</tr>
  </table>
</div>
