---
layout: default
---

<div class="posts" style="color:#B03060">
  {% for post in paginator.posts %}
  <h5><a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a></h5>
<!--     <article class="post">

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
		
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <h5><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">查看正文</a></h5>
    </article> -->

  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">当前: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>
<br />

<div style="color:#A52A2A">
<table border="2">
  
	<p>快捷通道:</p>
	<p>
	<a href="http://www.baidu.com/" target="_blank">百度</a>&nbsp&nbsp
	<a href="http://www.xiexingwen.com/" target="_blank">google镜像</a>&nbsp&nbsp
	<a href="http://github.com/" target="_blank">GitHub</a>&nbsp&nbsp
	<a href="http://www.csdn.net/" target="_blank">CSDN.NET</a>&nbsp&nbsp
	<a href="http://www.codeceo.com/" target="_blank">码农网</a>&nbsp&nbsp
	<a href="http://www.imooc.com/" target="_blank">慕课网</a>&nbsp&nbsp
	<a href="http://study.163.com/" target="_blank">网易云课堂</a>&nbsp&nbsp
	<a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a>&nbsp&nbsp
	<a href="http://www.xdowns.com/" target="_blank">绿盟软件下载站</a>&nbsp&nbsp
	<a href="http://rj.baidu.com/" target="_blank">百度软件下载站</a>&nbsp&nbsp
	</p>
	<p>
	<a href="http://yun.baidu.com/" target="_blank">百度云盘</a>&nbsp&nbsp
	<a href="http://www.gitblog.cn/" target="_blank">GitBlog</a>&nbsp&nbsp
	</p>


	<p>在线工具:</p>
	<p>
	<a href="http://www.114la.com/other/rgb.htm" target="_blank">RGB颜色查询对照表</a>&nbsp&nbsp
	<a href="http://md5jiami.51240.com/" target="_blank">MD5在线加密</a>&nbsp&nbsp
	<a href="http://www.baidu.com/baidu?wd=%CD%F2%C4%EA%C0%FA&tn=monline_4_dg" target="_blank">万年历</a>&nbsp&nbsp
	<a href="http://www.rishiqing.com/" target="_blank">日事清</a>&nbsp&nbsp
	<a href="http://www.szzfgjj.com/fzgn/zfcq/" target="_blank">深圳市住房公积金查询</a>&nbsp&nbsp
	<a href="http://fanyi.baidu.com/" target="_blank">百度翻译</a>&nbsp&nbsp
	</p>


	<p>开发软件:</p>
	<p>
	<a href="http://www.eclipse.org/downloads/" target="_blank">Eclipse</a>&nbsp&nbsp
	<a href="http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html" target="_blank">JDK下载</a>&nbsp&nbsp
	<a href="http://tomcat.apache.org/" target="_blank">Tomcat下载</a>&nbsp&nbsp
	<a href="http://tortoisegit.org/about/" target="_blank">Git下载</a>&nbsp&nbsp
	<a href="http://www.sublimetext.com/3" target="_blank">sublime 3</a>&nbsp&nbsp
	<a href="http://www.netsarang.com/download/main.html" target="_blank">xshell&xftp官方下载</a>&nbsp&nbsp
	<a href="http://pan.baidu.com/s/1qX6rW4W" target="_blank">SQLDeveloperX64</a>&nbsp&nbsp
	<a href="http://www.apache.org/index.html#projects-list" target="_blank">Apache开源项目</a>&nbsp&nbsp
	</p>
	<p>
	<a href="http://mvnrepository.com/" target="_blank">Maven仓库</a>&nbsp&nbsp
	<a href="http://www.navicat.com/download" target="_blank">Navicat</a>&nbsp&nbsp
	</p>


</div>
